<footer class="site-footer">
  <div class="grid site-footer__primary-nav">
    <div class="g-col-6 g-col-md-4">
      <h3 class="text-size-1 text-gray">Contribute</h3>
      <ul>
        <li><a href="">File a bug</a></li>
        <li><a href="">View source</a></li>
      </ul>
    </div>
    <div class="g-col-6 g-col-md-4">
      <h3 class="text-size-1 text-gray">Related content</h3>
      <ul>
        <li><a href="">developer.chrome.com</a></li>
        <li><a href="">Chrome updates</a></li>
        <li><a href="">Case studies</a></li>
        <li><a href="">Podcasts</a></li>
        <li><a href="">Shows</a></li>
      </ul>
    </div>
    <div class="g-col-6 g-col-md-4">
      <h3 class="text-size-1 text-gray">Connect</h3>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">YouTube</a></li>
      </ul>
    </div>
  </div>
  <div class="site_footer-brand">
    <ul class="cluster">
      <li><a href=""><img alt="Google Developers" class="w-footer__utility-logo" height="33" loading="lazy" src="https://web.dev/images/lockup-color.png" width="185"></a></li>
      <li><a href=""> Chrome </a></li>
      <li><a href=""> Firebase </a></li>
      <li><a href=""> Google Cloud Platform </a></li>
      <li><a href=""> All products </a></li>
    </ul>
  </div>
  <div class="site misc">
    <ul class="cluster">
      <li><a href=""> Terms & Privacy </a></li>
      <li><a href=""> Community Guidelines </a></li>
    </ul>
  </div>
  <p class="gap-top-size-2 text-size-0">
    Except as otherwise noted, the content of this page is licensed under the 
    <a href="" class="link-form"> Creative Commons Attribution 4.0 License</a>
    , and code samples are licensed under the 
    <a href="" class="link-form"> Apache 2.0 License</a>
    . For details, see the 
    <a href="" class="link-form"> Google Developers Site Policies </a>
  </p>
</footer>