$primary: red;
$black-43: rgb(43, 43, 43);
$black-20: #202020;
$bg-body: rgb(0, 0, 0, 0.93);
$bg-hover: rgba(255, 255, 255, 0.16);

$white: rgb(255, 255, 255);
$text-72: rgba(255, 255, 255, 0.72);

$blue-74: #0074e4;
$text-error: #D54841;

body{
  background: $primary;
}