
  <link rel="stylesheet" href="../assets/cssStyle/Carousel.css" />
  <main id="main">
    <div class="homepage">
      <header class="header-hero">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-6">
              <span class="hero_brow text-gray">
                About web.dev
              </span>
              <div class="hero__content flow">
                <img alt="" aria-hidden="true" class="hero__decor" fetchpriority="high" height="240" src="https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/zrBPJq27O4Hs8haszVnK.svg" width="333">
                <h1 class="hero__title">Let's build the future of the web, together</h1>
                <p>Take advantage of the latest modern technologies to build amazing web experiences for everyone.</p>
                <a href="" class="button button-blue margin-rem">Learn more</a>
              </div>
            </div>
            <div class="col-md-6">
              <a class="feature">
                <span class="feature-span">Event</span>
                <h3 class="feature-title">Connect with us on Twitter Spaces</h3>
                <img alt="" aria-hidden="true" class="feature-card__background" fetchpriority="high" src="https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/X49lrIUVWJr3OTkKX21n.svg">
              </a>
              <a class="feature margin-1rem">
                <span class="feature-span">Event</span>
                <h3 class="feature-title">Connect with us on Twitter Spaces</h3>
                <img sizes="(min-width: 570px) 570px, calc(100vw - 48px)" src="https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format" srcset="https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=200 200w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=228 228w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=260 260w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=296 296w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=338 338w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=385 385w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=439 439w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=500 500w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=571 571w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=650 650w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=741 741w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=845 845w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=964 964w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=1098 1098w,     https://web-dev.imgix.net/image/8WbTDNrhLsU0El80frMBGE4eMCD3/CZo4R87iOBYiRpIq6NcP.jpg?auto=format&amp;w=1140 1140w" alt="" class="feature-card__background" decoding="async" height="330" loading="lazy" width="570">              </a>
            </div>
          </div>
        </div>
      </header>
      <article class="header-hero hero-speed bg-core-bg">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-6">
              <span class="hero_brow text-gray">
                PageSpeed Insights
              </span>
              <div class="hero__content block-start">
                <h1 class="hero__title">Measure performance with PageSpeed Insights</h1>
                <p>PageSpeed Insights is a tool for measuring the performance and Core Web Vitals of a page with lab and field data.</p>
                <div class="margin-rem">
                  <a href="" class="button button-blue">TRY PAGESPEED INSIGHTS</a>
                  <a href="" class="button button-white ms-2">TRY PAGESPEED INSIGHTS</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-between">
              <div></div>
              <img alt="" aria-hidden="true" class="hero__decor" height="421" src="https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/6Ye3EKc6quNaopPrigno.png" width="546">            
            </div>
          </div>
        </div>
      </article>
      <div class="home-page-section bg-gray">
        <div class="wrapper">
          <div class="flow all-center text-line">
            <h2 class="headline-title">Featured courses</h2>
            <p class="text-gray margin-1rem">Explore our structured learning paths to discover everything you need to know about building for the modern web.</p>
            <div class="headline-action margin-1rem">
              <a href="">See all</a>
            </div>
          </div>
          <div class="margin-rem">
            <div class="content">
              <div class="slider responsive">
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" data-style="branded" class="card">
                    <div class="card_header repel">
                      <p class="text-gray">Course</p>
                      <div class="counter bg-card-primary text-white">
                        <span class="span-counter">17</span>
                        <svg
                          viewBox="0 0 24 24"
                          aria-label="mortarboard"
                          class="icon"
                          fill="currentColor"
                          height="24"
                          role="img"
                          width="24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                          ></path>
                          <path
                            d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                    <img
                      alt="i18n.courses.learn_design.title branding"
                      src="../assets/svg/css.svg"
                    />
                    <div class="card_content flow">
                      <p class="text-size-0">
                        Let's explore all aspects of responsive design, learning how
                        to make sites that look great and work well for everyone.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="home-page-section">
        <div class="wrapper">
          <div class="flow all-center text-line">
            <h2 class="headline-title">Case studies</h2>
            <p class="text-gray margin-1rem">Learn why and how other developers have used the web to create amazing web experiences for their users.</p>
            <div class="headline-action margin-1rem">
              <a href="">See all</a>
            </div>
          </div>
          <div class="row gx-5 p-3 margin-rem hero_studies">
            <article class="col-6 card max-width">
              <div class="col-12">
                <a href="" class="link-image">
                  <img alt="A banner image with the Rakuten 24 logo and branded artwork." sizes="(min-width: 570px) 570px, calc(100vw - 48px)" src="https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format" srcset="https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=200 200w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=228 228w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=260 260w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=296 296w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=338 338w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=385 385w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=439 439w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=500 500w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=571 571w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=650 650w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=741 741w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=845 845w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=964 964w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=1098 1098w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/OLBDJ1YEaVWGkR5lqNyR.jpg?auto=format&amp;w=1140 1140w" class="card__hero" decoding="async" loading="lazy">
                </a>
                <div class="card_content flow margin-rem">
                  <h3 class="card__heading text-size-3">
                    <a href="">How Rakuten 24's investment in Core Web Vitals increased revenue per visitor by 53.37% and conversion rate by 33.13%</a>
                  </h3>
                  <p class="text-gray margin-1rem">By measuring real users' Web Vitals, Rakuten 24 also found that a good Largest Contentful Paint (LCP) can lead to a conversion rate increase of 61.13%.</p>
                </div>
                <div class="card_tag margin-1rem">
                  <a href="" class="pill">Case Study</a>
                  <a href="" class="pill">Web Vitals</a>
                </div>
              </div>
            </article>
            <article class="col-6 card max-width">
              <div class="col-12">
                <a href="" class="link-image">
                  <img alt="A time-lapse photo of a highway at night." sizes="(min-width: 570px) 570px, calc(100vw - 48px)" src="https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format" srcset="https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=200 200w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=228 228w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=260 260w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=296 296w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=338 338w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=385 385w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=439 439w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=500 500w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=571 571w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=650 650w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=741 741w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=845 845w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=964 964w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=1098 1098w,     https://web-dev.imgix.net/image/jL3OLOhcWUQDnR4XjewLBx4e3PC3/dUBhcdiLqE1OCDUV7ZYm.jpg?auto=format&amp;w=1140 1140w" class="card__hero" decoding="async" loading="lazy">              
                </a>
                <div class="card_content flow margin-rem">
                  <h3 class="card__heading text-size-3">
                    <a href="">How GoDaddy's Websites + Marketing service improved customer Core Web Vitals by 75%</a>
                  </h3>
                  <p class="text-gray margin-1rem">A case study of changes GoDaddy implemented to improve website performance for millions of sites, helping them to achieve good PageSpeed Insights and Core Web Vitals scores.</p>
                </div>
                <div class="card_tag margin-1rem">
                  <a href="" class="pill">Case Study</a>
                  <a href="" class="pill">Web Vitals</a>
                  <a href="" class="pill">Performance</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="home-page-section bg-core">
        <div class="wrapper">
          <div class="flow all-center text-line">
            <h2 class="headline-title">Patterns</h2>
            <p class="text-gray margin-1rem">A collection of code snippets to help you optimize your web projects.</p>
            <div class="headline-action margin-1rem">
              <a href="">See all</a>
            </div>
          </div>
          <div class="homepage__patterns cluster margin-rem">
            <a href="" class="card">
              <img alt="Animation patterns" decoding="async" height="240" loading="lazy" src="https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/KL7dFk9XKx5PVUzXT2hb.svg" width="354">
              <div class="card_content flow">
                <h3 class="card__heading text-size-3">Animation patterns</h3>
                <p class="color-mid-text">
                  A collection of animation techniques built using CSS or JavaScript with considerations for accessibility and user preferences.                
                </p>
              </div>
            </a>
            <a href="" class="card">
              <img alt="Component patterns" decoding="async" height="240" loading="lazy" src="https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/J2QtGMJ3e1cJkHFrQ2K3.svg" width="354">
              <div class="card_content flow">
                <h3 class="card__heading text-size-3">Component patterns</h3>
                <p class="color-mid-text">
                  A collection of cross browser UI components for use in accelerating or inspiring your own design systems.                
                </p>
              </div>
            </a>
            <a href="" class="card">
              <img alt="Layout patterns" decoding="async" height="240" loading="lazy" src="https://web-dev.imgix.net/image/HodOHWjMnbNw56hvNASHWSgZyAf2/PRyD1Ad1GtT6IZLqWtu1.svg" width="354">
              <div class="card_content flow">
                <h3 class="card__heading text-size-3">Layout patterns</h3>
                <p class="color-mid-text">
                  A collection of layout patterns built using modern CSS APIs that will help you build common interfaces such as cards, dynamic grid areas, and full-page layouts.                
                </p>
              </div>
            </a>
            <a href="" class="card">
              <img alt="Theming patterns" decoding="async" height="240" loading="lazy" src="https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/X2nU3op9YZAqzox7FDgN.svg" width="354">
              <div class="card_content flow">
                <h3 class="card__heading text-size-3">Theming patterns</h3>
                <p class="color-mid-text">
                  A collection of techniques to assist in managing color throughout your projects.                
                </p>
              </div>
            </a>
            <a href="" class="card">
              <img alt="Web Vitals patterns" decoding="async" height="240" loading="lazy" src="https://web-dev.imgix.net/image/j2RDdG43oidUy6AL6LovThjeX9c2/NcqmhRbQCFP5twoNcOHg.svg" width="354">
              <div class="card_content flow">
                <h3 class="card__heading text-size-3">Web Vitals patterns</h3>
                <p class="color-mid-text">
                  A collection of common UX patterns optimized for Core Web Vitals. This collection includes patterns that are often tricky to implement without hurting your Core Web Vitals scores. You can use the code in these examples to help ensure your projects stay on the right track.              
                </p>
                </div>
            </a>
          </div>
        </div>
      </div>
      <div class="home-page-section bg-core">
        <div class="wrapper">
          <div class="flow all-center text-line">
            <h2 class="headline-title">Podcasts and Shows</h2>
            <p class="text-gray margin-1rem">Level up your web development skills by listening to podcasts from Google Developers</p>
            <div class="headline-action margin-1rem">
              <a href="">See all</a>
            </div>
          </div>
          <div class="homepage_shows gap-top-size-3">
            <a href="" class="homepage_show">
              <img alt="Designer Vs Developer artwork" src="https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/XXZm5qRstbVipZB9op3U.jpg?auto=format">
              <div class="flow t-bright text-white">
                <p>Show</p>
                <h3 class="text-size-4">Designing in the browser</h3>
                <p>Designing in the Browser explores the intersection of design and front-end development, teaching you how to build beautiful UIs with modern web standards in mind.</p>
              </div>
            </a>
            <a href="" class="homepage_show">
              <img alt="Designer Vs Developer artwork" src="https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/ipfeeYVWUsDER4LRnUkf.jpg?auto=format">
              <div class="flow t-bright text-white">
                <p>Show</p>
                <h3 class="text-size-4">Designing in the browser</h3>
                <p>Designing in the Browser explores the intersection of design and front-end development, teaching you how to build beautiful UIs with modern web standards in mind.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="homepage-newsletter form-feedback">
        <div class="wrapper">
          <div class="flow all-center text-line">
            <h2 class="headline-title">Developer Newsletter</h2>
            <p class="text-gray margin-1rem">Get the latest news, techniques and updates straight to your inbox.</p>
        </div>
        <form action="">
          <div class="switcher">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          <div class="margin-1rem">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
          <div class="margin-1rem">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="text-center">
            <p class="text-gray">
              Don't worry, no spam here! Your information will only be used for web.dev and Chrome related updates and our emails are typically no more than 1-2 times a month. You can unsubscribe anytime.
            </p>
          </div>
          <div class="margin-1rem cluster">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Add">
              <label class="form-check-label" for="Add">
                Add me to the web.dev mailing list.
              </label>
            </div>
          </div>
          <div class="margin-1rem cluster">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Terms">
              <label class="form-check-label" for="Terms">
                I accept Google's <a href="" class="link-form"> Terms and Conditions</a> and acknowledge that my information will be used in accordance with Google's <a href="" class="link-form"> Privacy Policy</a>.
              </label>
            </div>
          </div>
          <div class="gap-top-size-2"></div>
          <div class="gap-top-size-1 d-flex justify-content-center">
            <div>
              <button class="button button-blue">SUBSCRIBE</button>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
    <script>
      $(document).ready(function () {
        $(".responsive").slick({
          // dots: true,
          infinite: true,
          speed: 300,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 6,
                slidesToScroll: 1,
                // centerMode: true,
              },
            },
            {
              breakpoint: 800,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
              },
            },
          ],
        });
      });
    </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){
      $("#showIcon").click(function(){
        $("#menu-customer").toggleClass("show");
      });
    });
  </script>