<link rel="stylesheet" href="../assets/cssStyle/Blog.css">

<main id="main">

  <div class="bg-gray">
    <div class="wrapper flow">
      <header class="region">
        <div class="wrapper">
          <div class="headline all-center">
            <h1 class="headline-title">
              <svg fill="none" height="53" width="53" xmlns="http://www.w3.org/2000/svg"><path d="M6.625 9.938a3.313 3.313 0 0 1 3.313-3.313h33.124a3.313 3.313 0 0 1 3.313 3.313V39.44a.31.31 0 0 1-.31.31H6.934a.31.31 0 0 1-.31-.31V9.938Z" fill="#DEF"></path><path d="M6.625 9.938a3.313 3.313 0 0 1 3.313-3.313h33.124a3.313 3.313 0 0 1 3.313 3.313v3.312H6.625V9.937Z" fill="#BDF"></path><mask height="34" id="a" maskUnits="userSpaceOnUse" style="mask-type:alpha" width="41" x="6" y="6"><path d="M6.625 9.938a3.313 3.313 0 0 1 3.313-3.313h33.124a3.313 3.313 0 0 1 3.313 3.313V39.44a.31.31 0 0 1-.31.31H6.934a.31.31 0 0 1-.31-.31V9.938Z" fill="#DEF"></path></mask><g mask="url(#a)"><path d="M26.5 53c7.318 0 13.25-5.932 13.25-13.25S33.818 26.5 26.5 26.5s-13.25 5.932-13.25 13.25S19.182 53 26.5 53Zm0 6.625c10.977 0 19.875-8.898 19.875-19.875S37.477 19.875 26.5 19.875 6.625 28.773 6.625 39.75 15.523 59.625 26.5 59.625Z" clip-rule="evenodd" fill="#06F" fill-rule="evenodd"></path><mask height="41" id="b" maskUnits="userSpaceOnUse" style="mask-type:alpha" width="41" x="6" y="19"><path d="m6.625 59.625 39.75-39.75v39.75H6.625Z" fill="#C4C4C4"></path></mask><g mask="url(#b)"><path d="M26.5 53c7.318 0 13.25-5.932 13.25-13.25S33.818 26.5 26.5 26.5s-13.25 5.932-13.25 13.25S19.182 53 26.5 53Zm0 6.625c10.977 0 19.875-8.898 19.875-19.875S37.477 19.875 26.5 19.875 6.625 28.773 6.625 39.75 15.523 59.625 26.5 59.625Z" clip-rule="evenodd" fill="#C6F" fill-rule="evenodd"></path></g><path d="M32.74 41.983a6.625 6.625 0 1 1-8.473-8.473l13.657-6.003a.621.621 0 0 1 .819.819L32.74 41.983Z" fill="#6CF"></path><path d="M24.158 42.092a3.313 3.313 0 1 0 4.684-4.684 3.313 3.313 0 0 0-4.684 4.684Z" fill="#06F"></path></g></svg>
              <p>Measure page quality</p>
            </h1>
            <p>Test your pages in a lab environment powered by PageSpeed Insights. Then get tips and recommendations to improve your user experience. For field performance, see the PageSpeed Insights tool.</p>
          </div>
        </div>
      </header>
      
    </div>
  </div>

  <div class="bg-gray measure-tool">
    <div class="wrapper region" data-size="narrow">
      <div class="lh-report-header-enterurl ">
        <div class="lh-enterurl lh-enterurl--switch">
          <input type="url" class="lh-input" name="url" placeholder="Enter a web page URL" minlength="7" value="">
          <button class="lh-enterurl__close gc-analytics-event" data-category="web.dev" data-label="measure, remove url" data-action="click" aria-label="Remove URL">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"></path>
            </svg>
          </button>
        </div>
        <div class="lh-controls">
          <button class="w-button w-button--secondary gc-analytics-event" data-category="web.dev" data-label="measure, switch url" data-action="click">
            Switch URL
          </button>
          <button class="w-button w-button--primary gc-analytics-event" data-type="primary" data-category="web.dev" data-label="measure, run audit" data-action="click" id="run-lh-button">
            Run Audit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="region">
    <section class="measure-steps numbered-headers wrapper gap-top-size-2" data-size="narrow">
      <div class="numbered-headers__step">
        <h3 class="text-size-3">Run tests on your site</h3>
        <p>Enter your site's URL to see how well it performs across all audits.</p>
      </div>
      <div class="numbered-headers__step">
        <h3 class="text-size-3">Run tests on your site</h3>
        <p>Enter your site's URL to see how well it performs across all audits.</p>
      </div>
      <div class="numbered-headers__step">
        <h3 class="text-size-3">Run tests on your site</h3>
        <p>Enter your site's URL to see how well it performs across all audits.</p>
      </div>
    </section>
    <section class="flow all-center wrapper gap-top-size-4">
      <h2 class="no-link w-headline--two w-font-weight--medium">How your site is measured</h2>
      <p class="color-mid-text">When you measure your site, web.dev uses <a href="https://developer.chrome.com/docs/lighthouse/overview/">Lighthouse</a>, an open-source, automated tool for improving the quality of web pages. Lighthouse will audit your site in the following categories:</p>
    </section>
    <section class="wrapper region measure-faq">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What is the data source powering the web.dev/measure tool?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              web.dev/measure uses Lighthouse data from the PageSpeed Insights API. Learn more about PageSpeed Insights in the official FAQs
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How does web.dev/measure differ from PageSpeed Insights?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              web.dev/measure measures the overall quality of a web page in a lab environment (using Lighthouse). It gives insights about multiple quality categories from Lighthouse, including Performance, Accessibility and SEO. PageSpeed Insights (PSI) is performance focused, using both lab (Lighthouse) and field (Chrome UX Report) data to provide a summary of performance. Furthermore, PSI provides origin level insights in the field, whereas web.dev/measure is intended to deep-dive into a single URL in the lab.
              <br>
              Use PSI when you want to measure and optimize your Core Web Vitals, and use web.dev/measure when optimizing a broader set of quality signals about a page.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function(){
    $("#showIcon").click(function(){
      $("#menu-customer").toggleClass("showMenu");
    });
  });
</script>